node_modules/
backend/data/db.json
npm-debug.log*
testsprite_tests\tmp\config.json

# AI Training Heavy Files (Prevents GitHub from crashing on 8GB files)
ai_training/.venv/
ai_training/dataset/
ai_training/*.whl
ai_training/*.h5
ai_training/*.keras
ai_training/*.zip

# Virtual Environments
.venv/
venv/
env/

# Environment Variables (Keep API keys safe)
.env
.env.local

# Database Files
backend-pb/pb_data/
